<article class="book">
  <div class="container">
    {{#each books}}
    <img src="/images/{{file_name}}" alt="">
    <div>
      <H2>{{title}}</H2>
      <p>By: {{author}}</p>
      <p>Number of pages: {{pages}}</p>
    </div> 
    {{! book_url below }}
    {{!-- <a href="{{book.book_url}}" target="_blank">{{book.title}}</a>
    <span>({{book.book_url}})</span> --}}
  </div>
  <div class="meta">
    {{vote_count}}
    like(s) by
    {{user.username}}
    on
    {{created_at}}
    |
    {{! below is how the user is routed to the single book, using the <a href="" 
          we can move to have this go to single page by clicking on image once built }}
    <a href="/book/{{id}}">{{comments.length}} comment(s)</a>
  </div>

</article>