<section class="hd-single-book" id="hd-single-book">
  <div class="card" id="hd-single-card">
    <img src="/images/{{book.book_img}}" alt="">
      {{!-- formats the url --}}
      {{!-- <a href="{{book_url}}" target="_blank">{{title}}</a>
      <span>({{format_url book_url}})</span> --}}
    <div class="flex-row justify-center">
      <H2>{{book.title}}</H2>
      <p>By: {{book.author}} <br>
          Pages: {{book.pages}} <br>
          {{book.vote_count}} Like(s) <br>
          
          {{book.published_date}}
        </p>
  </div>
</section>
<section>
{{#if loggedIn}} 
  <form class="comment-form">
  {{> comments book.comments}}
    <div>
      <label for="Comment on this book!"></label>
      <textarea name="comment-body" class="comment-body" rows="6" cols="85" spellcheck="true"></textarea>
    </div>
    <div class="btn-group">
      <button type="submit">Comment</button>
      <button type="button" class="upvote-btn">Like</button>
    </div>
  </form>
  {{/if}}
</section> 

      {{! the #if is preventing the comment form and vote button from showing unless logged in }}
   

    

{{! only render the comment button and vote button when the user is logged in }}
{{#if loggedIn}}
  <script src="/javascript/comment.js"></script>
  <script src="/javascript/upvote.js"></script>
{{/if}}

